### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

df = pd.DataFrame()

## Player Count

* Display the total number of players

In [2]:
unique_players = purchase_data["SN"].value_counts()
player_count = len(unique_players)
total_num = [{"Total Players":player_count}]
total_num_df = pd.DataFrame(total_num)
total_num_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = purchase_data["Item ID"].value_counts()
item_count_len = len(item_count)

av_price = purchase_data["Price"].mean()

num_purch = len(purchase_data["Item ID"])

total_rev = sum(purchase_data["Price"])

analysis_dict = [{"Number of Unique Items": item_count_len,
                 "Average Price": av_price,
                 "Number of Purchases": num_purch,
                 "Total Revenue":total_rev}]

analysis_df = pd.DataFrame(analysis_dict)

analysis_df["Average Price"] = analysis_df["Average Price"].map('${:,.2f}'.format)

analysis_df["Total Revenue"] = analysis_df["Total Revenue"].map('${:,.2f}'.format)

analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

In [99]:
group_gender = purchase_data.groupby(["Gender"])

print(group_gender["Gender"])

name_unique = group_gender["SN"].unique()


female = len(name_unique["Female"])

male = len(name_unique["Male"])

other = len(name_unique["Other / Non-Disclosed"])

total_gender = (female + male + other)

gender_demo_dict = {
    "Total Count": [male, female, other],
    "Percentage of Players": [male/total_gender, female/total_gender, other/total_gender]
}

gender_demo_df = pd.DataFrame(gender_demo_dict, index=['Male','Female','Other / Non-Disclosed'])  

gender_demo_df[""] = gender_demo_df["Average Price"].map('${:,.2f}'.format)

gender_demo_df

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001E828B9A2B0>

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame